/* Styling the body and the main header */
body {
    background: linear-gradient(#126e82, #51c4d3);
}
h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 75px;
    padding-top: 7px;
    padding-bottom: 12px;
}


/* Styling the sections */
h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 20px;
}
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

.landing__container:nth-of-type(even) {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}


/* Styling the navigation menu */
nav {
    background-color: white;
}

li{
    border-right: 1px solid #126e82;
    color: #126e82;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 35;
    text-transform: capitalize;
}

li:hover{
    background-color: #126e82;
    color: white;
}